<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syy.tessystem.mapper.QuestionMapper">

    <resultMap id="choiceQuestionMap" type="com.syy.tessystem.entities.QuestionPublicSc">
        <id column="id" property="id"></id>
        <result column="text" property="text"></result>
        <result column="option1" property="option1"></result>
        <result column="option2" property="option2"></result>
        <result column="option3" property="option3"></result>
        <result column="option4" property="option4"></result>
        <result column="answer" property="answer"></result>
        <result column="creater_id" property="createrId"></result>
        <result column="create_time" property="createTime"></result>
        <result column="course_id" property="courseId"></result>
        <result column="chapter_id" property="chapterId"></result>
        <result column="modular_id" property="modularId"></result>
        <result column="diffculyt" property="diffculyt"></result>
        <result column="examine" property="examine"></result>
        <result column="examiner_id" property="examinerId"></result>
        <result column="examiner_time" property="examinerTime"></result>
        <result column="type" property="type"></result>
    </resultMap>

    <resultMap id="choiceMapWithName" type="com.syy.tessystem.entities.QuestionPublicScWithName">
        <id column="id" property="id"></id>
        <result column="text" property="text"></result>
        <result column="option1" property="option1"></result>
        <result column="option2" property="option2"></result>
        <result column="option3" property="option3"></result>
        <result column="option4" property="option4"></result>
        <result column="answer" property="answer"></result>
        <result column="creater_id" property="createrId"></result>
        <result column="create_time" property="createTime"></result>
        <result column="course_id" property="courseId"></result>
        <result column="chapter_id" property="chapterId"></result>
        <result column="modular_id" property="modularId"></result>
        <result column="diffculyt" property="diffculyt"></result>
        <result column="examine" property="examine"></result>
        <result column="examiner_id" property="examinerId"></result>
        <result column="examiner_time" property="examinerTime"></result>
        <result column="type" property="type"></result>
        <result column="course_name" property="courseName"></result>
        <result column="modular_name" property="modularName"></result>
    </resultMap>

    <resultMap id="completionMap" type="com.syy.tessystem.entities.QuestionPublicComp">
        <id column="id" property="id"></id>
        <result column="content" property="content"></result>
        <result column="answer1" property="answer1"></result>
        <result column="answer2" property="answer2"></result>
        <result column="answer3" property="answer3"></result>
        <result column="creater_id" property="createrId"></result>
        <result column="create_time" property="createTime"></result>
        <result column="course_id" property="courseId"></result>
        <result column="chapter_id" property="chapterId"></result>
        <result column="modular_id" property="modularId"></result>
        <result column="difficulty" property="difficulty"></result>
        <result column="examine" property="examine"></result>
        <result column="examiner_id" property="examinerId"></result>
        <result column="examiner_time" property="examinerTime"></result>
        <result column="type" property="type"></result>
    </resultMap>

    <resultMap id="completionWithNameMap" type="com.syy.tessystem.entities.QuestionPublicCompWithName">
        <id column="id" property="id"></id>
        <result column="content" property="content"></result>
        <result column="answer1" property="answer1"></result>
        <result column="answer2" property="answer2"></result>
        <result column="answer3" property="answer3"></result>
        <result column="creater_id" property="createrId"></result>
        <result column="create_time" property="createTime"></result>
        <result column="course_id" property="courseId"></result>
        <result column="chapter_id" property="chapterId"></result>
        <result column="modular_id" property="modularId"></result>
        <result column="difficulty" property="difficulty"></result>
        <result column="examine" property="examine"></result>
        <result column="examiner_id" property="examinerId"></result>
        <result column="examiner_time" property="examinerTime"></result>
        <result column="type" property="type"></result>
        <result column="course_name" property="courseName"></result>
        <result column="modular_name" property="modularName"></result>
    </resultMap>

    <insert id="insert">
        insert into question_public_sc(id, text, option1, option2, option3, option4, answer, creater_id, create_time,
                                       chapter_id, modular_id, diffculyt, examine, examiner_id, examine_time, type)
        values (#{id}, #{text}, #{option1}, #{option2}, #{option3}, #{option4}, #{answer}, #{createrId}, #{createTime},
                #{chapterId}, #{modularId}, #{diffculyt}, null, null, null, 0)
    </insert>

    <select id="get" resultMap="choiceQuestionMap">
        select *
        from question_public_sc
        where id = #{id}
    </select>

    <delete id="delete">
        delete
        from question_public_sc
        where id = #{id}
    </delete>

    <select id="getAll" resultMap="choiceQuestionMap">
        select *
        from question_public_sc
    </select>

    <select id="getUserRoleById" resultType="java.lang.Integer">
        select role
        from teacher
        where id = #{userId}
    </select>

    <update id="update">
        update question_public_sc
        set text       = #{text},
            option1    = #{option1},
            option2    = #{option2},
            option3    = #{option3},
            option4    = #{option4},
            answer     = #{answer},
            chapter_id = #{chapterId},
            modular_id = #{modularId},
            diffculyt  = #{diffculyt}
        where id = #{id}
    </update>

    <select id="getQuesWithoutExamByCId" resultMap="choiceQuestionMap">
        select *
        from question_public_sc
        where chapter_id in (
            select chapter_id
            from chapter
            where course_id = #{courseId}
        )
    </select>

    <update id="updateExamine">
        update question_public_sc
        set examine=#{result},
            examiner_id=#{userId},
            examine_time=#{examineTime}
        where id = #{questionId}
    </update>

    <insert id="insertComp">
        insert into question_public_completion(content, answer1, answer2, answer3, creater_id, create_time, chapter_id,
                                               modular_id, difficulty, type)
        VALUES (#{content}, #{answer1}, #{answer2}, #{answer3}, #{createrId}, #{createTime}, #{chapterId}, #{modularId},
                #{difficulty}, 1)
    </insert>

    <delete id="deleteComp">
        delete
        from question_public_completion
        where id = #{id}
    </delete>

    <update id="updateComp">
        update question_public_completion
        set content=#{content},
            answer1=#{answer1},
            answer2=#{answer2},
            answer3=#{answer3},
            chapter_id=#{chapterId},
            modular_id=#{modularId},
            difficulty=#{difficulty}
        where id = #{id}
    </update>

    <select id="getComp" resultMap="completionMap">
        select *
        from question_public_completion
        where id = #{id}
    </select>

    <select id="getAllComp" resultMap="completionMap">
        select *
        from question_public_completion
    </select>

    <select id="getQuestionScInCondition" resultMap="choiceMapWithName">
        select q.*,m.modular_name,c.chapter_name
        from question_public_sc q,modular m,chapter c
        <trim prefix="where" prefixOverrides="and" suffix="" suffixOverrides="and">
            q.course_id=#{courseId} and
            <if test="chapterId!=null">

                q.chapter_id=#{chapterId} and
            </if>
            <if test="modularId!=null">

                q.modualr_id=#{modularId} and
            </if>
            <if test="content!=null">
                q.text like "%"#{content}"%"
            </if>
        </trim>
        and q.chapter_id=c.id and q.modular_id=m.id
    </select>

    <select id="getQuestionCompInCondition" resultMap="completionMap">
        select q.*,m.modular_name,c.chapter_name
        from question_public_completion q,modular m,chapter c
        <trim prefix="where" prefixOverrides="and" suffix="" suffixOverrides="and">
            q.course_id =#{courseId} and
            <if test="chapterId!=null">

                q.chapter_id=#{chapterId} and
            </if>
            <if test="modularId!=null">

                q.modualr_id=#{modularId} and
            </if>
            <if test="content!=null">
                q.content like "%"#{content}"%"
            </if>
        </trim>
        and q.chapter_id=c.id and q.modular_id=m.id
    </select>
</mapper>