<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syy.tessystem.mapper.TeacherMapper">
  <resultMap id="BaseResultMap" type="com.syy.tessystem.entities.Teacher">
    <id column="id" property="id"></id>
    <result column="tno" property="tNo"></result>
    <result column="name" property="name"></result>
    <result column="phone" property="phone"></result>
    <result column="head_img" property="headImg"></result>
    <result column="major" property="major"></result>
    <result column="password" property="password"></result>
    <result column="email" property="email"></result>
    <result column="gender" property="gender"></result>
    <result column="role" property="role"></result>
  </resultMap>

  <select id="login" resultMap="BaseResultMap">
    select *
    from teacher
    where tno=#{tNo}
  </select>

  <select id="getTeacherById" resultMap="BaseResultMap">
    select *
    from teacher
    where id=#{id}
  </select>

  <update id="updateTeacher">
    update teacher
    set name = #{teacherName},
        phone = #{phone},
        major = #{major},
        gender = #{gender},
        email = #{email}
    where id = #{teacherId}
  </update>

  <select id="getTeachers" resultMap="BaseResultMap">
    select *
    from teacher
  </select>

  <update id="updateRole">
    update teacher
    set role = #{role}
    where id = #{teacherId}
  </update>

</mapper>